<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github</id>
            <username>sunkolin</username>
            <!-- GitHub Personal Access Token，Github工作流中使用-->
            <password>${env.GITHUB_TOKEN}</password>

            <!-- GitHub Personal Access Token，本地使用，不要提交到Github-->
<!--            <password>xxx</password>-->

        </server>
    </servers>
</settings>