<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github</id>
            <username>sunkolin</username>
            <!-- GitHub Personal Access Token-->
            <!-- GitHub工作流中使用 -->
            <password>${env.GITHUB_TOKEN}</password>
            <!-- 本地开发环境使用-->
<!--            <password>xxx</password>-->
        </server>
    </servers>
</settings>